*{
	font-family: Open Sans;
}
h1 {
	text-align: center;
}

ul { 
	display:inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0 30%;
    height: 3.1vw;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width:100%;

}

li {
    display:inline-block;
    text-align: center;
    width:8vw;
    z-index: 99999;

}

li a {
    display: block;
    color: #CDCCCC;
    padding: 0.9vw;
    text-decoration: none;
    text-align:center;
}

li a:hover {
    color: white;
}

.navBar a {
    font-size:1.1em ;
}

.navBar {
	position: absolute;
	text-align:center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: inline;
    margin: 0;
    width: 100vw;
    min-width: 1024px;
    height: 3.1vw;
    min-height:50px;
    background: #333;
    /*background: rgba(0,0,0,0.8);*/
 }

 .right-border {
    border-right: 1px solid black;
 }
