*{
	font-family: Open Sans;
    max-width:100%;
}

main {
	text-align: center;
}

.navbar {
    height: 55px;
}

.navBar ul { 
	display:inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;       
    text-align: justify;

}

.navBar li {
    display:inline-block;
    text-align: center;
    width:8vw;
    padding: 0px 20px;
    height: 50px;
    z-index: 99999;

}

.navBar li a {
    color: #CDCCCC;
    padding: 0.9vw;
    text-decoration: none;
    text-align:center;
}

li a:hover {
    color: white;
}

.navBar a {
    font-size:1.1em;
    position: relative;
    display: inline-flex;
}

.navBar {
	position: fixed;
	text-align:center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: inline;
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    min-width: 640px;
    height: 3.1vw;
    min-height:50px;
    background-color: rgba(0,0,0,0.79);

 .right-border {/*
    border-right: 1px solid black;*/
 }
